

<H1>See all properties</H1>

<% @properties.each do |property| %>

<h2><%= property.name %></h2>
<p><%= property.country%></p>
<p><%= property.price_night%></p>

<%= link_to "to the property", property_path(property) %>

<% end %>

<hr>
<hr>

<div>
<%= link_to "create a new Property", new_property_path %>
</div>
