<H1>Create a new proprety</H1>


<%= form_for(@property) do |f| %>
  <%= f.label :name, "name" %>
  <%= f.text_field :name %>

  <%= f.label :country, "country" %>
  <%= f.text_field :country %>

  <%= f.label :beach_name, "beach name" %>
  <%= f.text_field :beach_name %>

  <%= f.label :price_night, "price per night" %>
  <%= f.number_field :price_night %>

 <%= f.label :capacity, "capacity" %>
  <%= f.text_field :capacity %>


  <%= f.submit %>

<% end %>

