<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= simple_form_for(@property) do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :country %>
        <%= f.input :beach_name %>
        <%= f.input :price_night %>
        <%= f.input :capacity %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="form-actions">
        <%= f.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>

