<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <%= link_to "Dashboard", profile_path %>
                </li>
                <li>
                  <%= link_to "Edit your profile", profile_edit_path %>
                </li>
                <% if !current_user.properties.empty? %>
                  <li>
                    <%= link_to "View your properties", profile_myproperties_path %>
                  </li>
                <% end %>
                <li>
                  <%= link_to "Add a property", profile_addproperty_path %>
                </li>
                <% if !current_user.bookings.empty? %>
                  <li>
                    <%= link_to "Manage your bookings", profile_mybookings_path %>
                  </li>
                <% end %>
            </ul>
        </div>
