<div class="bg-search-bar">
  <div class="container search-bar">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
          <%= image_tag 'Drawing', alt: 'logo' %>
          <h1 id="tagline">Paradise is waiting for you ...</h1>
        </div>
      </div>
    </div>
  <div class="container search-bar">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <%= simple_form_for @search do |f| %>
        <%= f.input :country, label: false, prompt: "Select country", class: "form-control", id: "country" %>
        </div>
        <div class="col-xs-12 col-md-2">
        <%= f.text_field :price_night, class: "form-control", id: "price_night", placeholder: "price/night" %>
        </div>
        <div class="col-xs-12 col-md-2">
        <%= f.text_field :start_date, class: "form-control", id: "start_date", placeholder: "Check in" %>
        </div>
        <div class="col-xs-12 col-md-2">
        <%= f.text_field :end_date, class: "form-control", id: "end_date", placeholder: "Check out" %>
        </div>
        <div class="col-xs-12 col-md-2">
        <%= f.select :capacity, [['1 Guest',1],['2 Guests', 2],['3 Guests', 3],['4 Guests', 4],['5 Guests', 5],['6 Guests', 6],['7 Guests', 7],['8 Guests', 8],['9 Guests', 9],['10 Guests', 10],['11 Guests', 11],['12 Guests', 12],['13 Guests', 13],['14 Guests', 14],['15 Guests', 15],['16 Guests', 16]], {}, class: "form-control" %>
        </div>
        <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-0 text-center">
          <%= f.submit "Search", class: "btn btn-danger submit-search" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>



