<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Country
          </th>
          <th>
            Price per night
          </th>
          <th>
            Beach name
          </th>
        </tr>
      </thead>
      <tbody>
        <% @final.each do |a| %>
        <tr>
          <td><%= a.property.name %></td>
          <td><%= a.property.country %></td>
          <td><%= a.property.price_night %></td>
          <td><%= a.property.beach_name %></td>
          <td><%= link_to "Book", new_search_property_booking_path(search_id: @search, property_id: a.property), class: "btn btn-primary" %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
</div>


